body{
    margin:0;
    padding: 0;
    background-image: url(images.jpg);
    background-size:cover;

}
.login-container{
    top: 20%;
    left: 40%;
    position: absolute;
    transform: translate(-50,-50);
}
.loginpage{
    padding: 60px 40px 70px 40px;
    background:gray;
    border-radius: 10px;
}
.name{
    width: 300px;
    border: none;
    background-color: black;
    border-right: 5px solid rgb(14, 1, 1);
    border-left:5px solid rgb(14, 1, 1) ;
    border-top: 5px solid rgb(14, 1, 1);
    border-bottom: 5px solid rgb(14, 1, 1);
    padding: 6px;   
    margin-bottom: 15px;
    color: rgb(232, 19, 19);
}
.button{
    border-radius: 20px;
    padding: 10px 20px;
    background: dodgerblue;
    color: white;
    margin-top: 10px;
    border: none;
    outline: none;
    margin-left: 100px;
}
.h{
    text-shadow: 0 0 100px #0a75f7, 0 0 300px #0b25e9;
    font-size: 40px;
    left: 60%;
 


}